*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-transform: capitalize;
}
main{
    height:100vh;
    width:100vw;
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 3px white;
    height:55vh;
    width:55vh;
    background-color:deeppink;
    border-radius: 10px;
}
.btn{
    display:flex;
}
.btn button{
    margin:80px 2px;
    width:auto;
    padding:10px 20px;
    border-radius: 5px;
    border:none;
    cursor:pointer;
    box-shadow: 1px 1px rgb(0,0,0);
    font-weight: bold;
}
input{
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px auto;
    font-family: cursive;
    color:black;
    font-weight: bold;
    background: darksalmon;
}